<% provide(:title, "Home") %>
<h1>The Sample App</h1>
<p>This is the home page of <a href="https://fast-fjord-92720.herokuapp.com/">The Sample App</a> hosted on <a href="www.heroku.com">Heroku</a> </p>
